body {
    margin: 0px;   
    background: rgb(189,189,189);background: linear-gradient(73deg, rgba(189,189,189,1) 0%, rgba(98,135,208,1) 33%, rgba(255,171,171,1) 65%, rgba(220,249,255,1) 99%);
}
.main {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #404040;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 153);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(133, 133, 133);
  }
/*scrollbar*/
.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px -5px 30px black;
}
.logo {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;
    width: 25px;
    padding: 10px;
    -webkit-transition: 0.1s ease-out;
}
.logo:hover {
    margin-left: 49px;
    width: 30px;
    padding: 8px;
    -webkit-transition: 0.1s;
}
a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 202, 202);
    text-decoration: none;
    line-height: 80px;
    padding: 20px;
    -webkit-transition: 0.1s ease-out;
}
a:hover {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    line-height: 80px;
    padding: 20px;
    -webkit-transition: 0.5s;
}
.page {
    margin-top: 80px;
    max-width: 100%;
    height: 3000px;
    padding: 0px;
    padding-top: 20px;
    text-align: center;
}
h1 {
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.mac {
    width: 700px;
    margin: auto;
    -webkit-transition: 1s ease-out;
}
.mac:hover {
    width: 750px;
    margin: auto;
    -webkit-transition: 1s;
}
.grad_text {
    margin-top: -40px;
    background: -webkit-linear-gradient(rgb(255, 156, 7), rgb(226, 37, 37));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
                .dropbtn {
                    background-color: transparent;
                    color: whitesmoke;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #3b3b3b;
                    border-radius: 1px;
                    min-width: 150px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    background: rgba(145, 145, 145, 0.63);
                    border-radius: 10px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(6.6px);
                    -webkit-backdrop-filter: blur(6.6px);
                    border: 1px solid rgba(145, 145, 145, 0.78);
                }
                .dropdown-content a {
                    color: rgb(255, 255, 255);
                    padding: 0px 10px;
                    text-decoration: none;
                    display: block;
                }
                .dropdown-content a:hover {background-color: #acacac}
                .dropdown-content a:hover {
                    border-radius: 10px;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 10px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 0px solid rgba(255, 255, 255, 0.3);
                }
                .dropdown:hover .dropdown-content {
                    display: block;
                }
                .dropdown:hover .dropbtn {
                    background-color: transparent;
                }